<div class="container">
  <div class="row">
      <div class="form_bg">
          <form #form="ngForm" (ngSubmit)="registerUser(form)">
               <h2 class="text-center">Template Driven Form</h2>
              <br/>
              <div class="form-group">
                <input type="text" ngModel name="firstName" #firstName="ngModel" minlength="3" maxlength="10" required>
                <div *ngIf="firstName.touched && !firstName.valid ">
                  <div *ngIf="firstName.errors.required">
                    Firstname is required
                  </div>
                  <div *ngIf="firstName.errors.minlength">
                    Firstname minimum length is
                    {{ firstName.errors.minlength.requiredLength }}
                  </div>
                  <div *ngIf="firstName.errors.maxlength">
                    Firstname maximum length is
                    {{ firstName.errors.maxlength.requiredLength }}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" ngModel name="lastName" #lastName="ngModel" minlength="3" maxlength="10" required>
                <div *ngIf="lastName.touched && !lastName.valid ">
                  <div *ngIf="lastName.errors.required">
                    lastName is required
                  </div>
                  <div *ngIf="lastName.errors.minlength">
                    lastName minimum length is
                    {{ lastName.errors.minlength.requiredLength }}
                  </div>
                  <div *ngIf="lastName.errors.maxlength">
                    lastName maximum length is
                    {{ lastName.errors.maxlength.requiredLength }}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" ngModel name="email" #email="ngModel" email required>
                <div *ngIf="email.touched && !email.valid ">
                  <span class="help-bpx" *ngIf="email.touched && !email.valid ">Please enter the Email Value</span>
                </div>
              </div>
               <div class="form-group">
              </div>
              <br/>
              <div class="align-center">
                  <button type="submit" class="btn btn-default" id="register" [disabled]="!form.valid" >Register</button>
              </div>
          </form>
      </div>
  </div>
</div>
